{% with milestones=milestone.child_milestones.all|dictsort:"order" %}
{% for child in milestones %}
    <div class="milestone" data-id="{{ child.id }}" data-parent-id="{{ milestone.id }}">
        {{ child.text }} - Points: {{ child.points | floatformat:2 }}
        {% if is_participant %}
            {% include 'milestone_buttons.html' with milestone=child %}
        {% endif %}
        <div id="milestones-list-{{ child.id }}">
            {% include 'milestone_recursive.html' with milestone=child is_participant=is_participant %}
        </div>
    </div>
{% endfor %}
{% endwith %}