<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            background-image: linear-gradient(90deg, rgba(40, 0, 255, 1), rgba(255, 160, 71, 1));
        }
        .container {
            max-width: 960px;
            margin-top: 20px;
        }
        .btn-primary, .btn-secondary {
            margin-top: 10px;
        }
        .btn-group {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        #message-list {
            height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
        }
        .message-item {
            padding: 5px;
            border-bottom: 1px solid #ddd;
        }
        .message-item:last-child {
            border-bottom: none;
        }
        .milestone {
            padding: 5px;
            margin: 5px 0;
        }

        .milestone-content {
            display: flex;
            align-items: center;
        }

        .milestone-text {
            margin-right: 10px;
        }

        .milestone-buttons {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .milestone .milestone {
            margin-left: 20px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</head>
<body>
    {% load static %}
    {% load humanize %}
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'project_list' %}">{{ project.title }}</a>
                <div class="d-flex align-items-center">
                    <h5 class="mr-3 text-white">総投資額: ¥{{ project.total_investment|floatformat:0 }}</h5>
                    {% if is_owner %}
                        <a href="{% url 'project_edit' project.id %}" class="btn btn-primary btn-sm">投資額を編集</a>
                    {% endif %}
                </div>
            </div>

            <div class="account-info ml-auto">
                {% if user.is_authenticated %}
                    <div class="mt-2 btn-group">
                        {% if not is_participant %}
                            {% if project.owner is None %}
                                <form action="{% url 'become_owner' project.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">オーナーになる</button>
                                </form>
                            {% else %}
                                <form action="{% url 'project_join' project.id %}" method="post" style="margin: 0;">
                                    {% csrf_token %}
                                    <input type="submit" value="参加する" class="btn btn-secondary">
                                </form>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'project_participants' project.id %}" class="btn btn-secondary">参加者</a>
                        {% endif %}
                        <a href="{% url 'project_list' %}" class="btn btn-secondary">メインページ</a>
                    </div>
                {% else %}
                    <div class="mt-2 btn-group">
                        <a href="{% url 'login' %}" class="btn btn-primary">ログイン</a>
                        <a href="{% url 'signup' %}" class="btn btn-secondary">サインアップ</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- タブメニュー -->
        <ul class="nav nav-tabs" id="projectTabs" role="tablist">
            {% if goals_with_milestones %}
                <li class="nav-item">
                    <a class="nav-link active" id="roadmap-tab" data-toggle="tab" href="#roadmap" role="tab" aria-controls="roadmap" aria-selected="true">ロードマップ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="false">ダッシュボード</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="roadmap-tab" data-toggle="tab" href="#roadmap" role="tab" aria-controls="roadmap" aria-selected="false">ロードマップ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">ダッシュボード</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" id="charter-tab" data-toggle="tab" href="#charter" role="tab" aria-controls="charter" aria-selected="false">プロジェクト憲章</a>
            </li>
        </ul>

        <div class="tab-content" id="projectTabsContent">
            <!-- ロードマップタブ -->
            {% if goals_with_milestones %}
                <div class="tab-pane fade show active" id="roadmap" role="tabpanel" aria-labelledby="roadmap-tab">
            {% else %}
                <div class="tab-pane fade" id="roadmap" role="tabpanel" aria-labelledby="roadmap-tab">
            {% endif %}
                <!-- ロードマップの内容 -->
                {% if not project.goals.all %}
                {% if project.owner is None or user.is_authenticated and user in project.participants.all %}
                        <form action="{% url 'goal_create' project.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="ゴールを作成する" class="btn btn-primary"/>
                        </form>
                    {% endif %}
                {% endif %}

                <!-- ゴールとマイルストーンの表示 -->
                {% for goal_data in goals_with_milestones %}
                    <h3 style="display: inline;">{{ goal_data.goal.text }}</h3>
                    {% if project.owner is None or user.is_authenticated and user in project.participants.all %}
                        <a href="{% url 'milestone_create' goal_id=goal_data.goal.id %}" class="btn btn-primary btn-sm" style="margin-left: 10px;">マイルストーンを追加</a>
                    {% endif %}
                    <div id="milestones-list-{{ goal_data.goal.id }}">
                        {% for milestone in goal_data.milestones %}
                            {% if not milestone.parent_milestone %}
                                <div class="milestone" data-id="{{ milestone.id }}">
                                    <div class="milestone-content">
                                        <div class="milestone-text">
                                            {{ milestone.text }}
                                            {% if not milestone.child_milestones.exists %}
                                                - Points: <span class="milestone-points" data-id="{{ milestone.id }}">
                                                    {% if milestone.manual_points %}
                                                        {{ milestone.manual_points|floatformat:2 }}
                                                    {% else %}
                                                        {{ milestone.auto_points|floatformat:2 }}
                                                    {% endif %}
                                                </span>
                                                <!-- ポイント編集フィールド（初期状態では非表示） -->
                                                <input type="number" step="0.01" class="point-input" value="{% if milestone.manual_points %}{{ milestone.manual_points|floatformat:2 }}{% else %}{{ milestone.auto_points|floatformat:2 }}{% endif %}" data-id="{{ milestone.id }}" style="width: 80px; display: none;">
                                            {% endif %}
                                        </div>
                                        {% include 'milestone_buttons.html' with milestone=milestone is_participant=is_participant project=project %}
                                    </div>
                                    <div id="milestones-list-{{ milestone.id }}">
                                        {% include 'milestone_recursive.html' with milestone=milestone is_participant=is_participant project=project %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <br>
                <!-- マイルストーンがある場合にのみ並び替えボタンを表示 -->
                {% if project.owner is None or is_participant %}
                    {% if goals_with_milestones %}
                        {% for goal_data in goals_with_milestones %}
                            {% if goal_data.milestones %}
                                {% if is_owner %}
                                <button id="edit-points-btn" class="btn btn-primary">ポイント編集モード</button>
                                <button id="save-points-btn" class="btn btn-success" style="display:none;">編集を保存</button>
                                {% endif %}
                                <button id="edit-roadmap-btn" class="btn btn-primary">マイルストーンを並び替え</button>
                                <button id="save-roadmap-btn" class="btn btn-success" style="display:none;">並び替えを終了</button>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <br>
                <br>
            </div>

            <!-- ダッシュボードタブ -->
            {% if not goals_with_milestones %}
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            {% else %}
                <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            {% endif %}
                <br>
                <!-- githubのリンク -->
                <h5>プロジェクトの進捗</h5>
                <canvas id="progressChart" width="300" height="300"></canvas>
                <br>
                <br>
                {% if project.github_url %}
                <p>GitHubリポジトリ: <a href="{{ project.github_url }}" target="_blank">{{ project.github_url }}</a></p>
                {% else %}
                <p>GitHubリポジトリ: まだ設定されていません</p>
                {% if is_participant %}
                    <a href="{% url 'add_github_url' project.id %}" class="btn btn-primary">GitHub URLを追加</a>
                {% endif %}
                {% endif %}
                <br>
                <br>
                <!-- チャット機能のセクション -->
                <h5>メッセージ</h5>
                <div id="message-list">
                    {% for message in messages %}
                        <div>
                            <strong>
                                {% if message.sender %}
                                    {{ message.sender.username }}
                                {% else %}
                                    Anonymous
                                {% endif %}
                            </strong>
                            <p>{{ message.text }}</p><small>{{ message.created_at }}</small>
                        </div>
                    {% endfor %}
                </div>
                <br>
                {% if project.owner is None or is_participant %}
                <form method="post">
                    {% csrf_token %}
                    {{ message_form.as_p }}
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
                {% endif %}
                <br>
                <br>
            </div>

            <!-- プロジェクト憲章タブ -->
            <div class="tab-pane fade" id="charter" role="tabpanel" aria-labelledby="charter-tab">
                <br>
                <p>{{ project.description|linebreaksbr }}</p>
                {% if is_participant %}
                    <form action="{% url 'edit_project_description' project.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="プロジェクト憲章を編集する" class="btn btn-primary"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const editButton = document.getElementById('edit-roadmap-btn');
            const             saveButton = document.getElementById('save-roadmap-btn');

            function updateOrderAndParentId() {
                let order = [];
                document.querySelectorAll('.milestone[data-id]').forEach(function (item, index) {
                    const parentElement = item.closest('.milestone[data-id]:not([data-id="' + item.getAttribute('data-id') + '"])');
                    const parentId = parentElement ? parentElement.getAttribute('data-id') : null;
                    order.push({
                        id: item.getAttribute('data-id'),
                        order: index,
                        parent_id: parentId ? parentId : null
                    });
                });

                console.log(order);  // ログに出力

                fetch('{% url "update_milestone_order" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({order: order})
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
            }

            if (editButton && saveButton) {
                editButton.addEventListener('click', function() {
                    document.querySelectorAll('[id^="milestones-list-"]').forEach(function(list) {
                        new Sortable(list, {
                            group: 'milestones',
                            animation: 150,
                            onEnd: function (evt) {
                                // ドラッグアンドドロップ後の処理
                            }
                        });
                    });
                    editButton.style.display = 'none';
                    saveButton.style.display = 'block';
                });

                saveButton.addEventListener('click', function() {
                    updateOrderAndParentId();
                });
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('progressChart').getContext('2d');
            const progressPercentage = {{ progress_percentage|default:0 }};
            const progressData = {
                datasets: [{
                    data: [progressPercentage, 100 - progressPercentage],
                    backgroundColor: ['#007bff', '#e9ecef']
                }],
                labels: ['Completed', 'Remaining']
            };

            const config = {
                type: 'doughnut',
                data: progressData,
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.label + ': ' + Math.round(tooltipItem.raw * 100) + '%';
                                }
                            }
                        }
                    }
                }
            };

            new Chart(ctx, config);
        });

        document.addEventListener('DOMContentLoaded', function() {
            const editPointsBtn = document.getElementById('edit-points-btn');
            const savePointsBtn = document.getElementById('save-points-btn');

            editPointsBtn.addEventListener('click', function() {
                // ポイント編集フィールドを表示
                document.querySelectorAll('.point-input').forEach(function(elem) {
                    elem.style.display = 'inline-block';
                });
                // ポイント表示を非表示
                document.querySelectorAll('.milestone-points').forEach(function(elem) {
                    elem.style.display = 'none';
                });
                editPointsBtn.style.display = 'none';
                savePointsBtn.style.display = 'inline-block';
            });

            savePointsBtn.addEventListener('click', function() {
                // ポイント編集フィールドを非表示
                document.querySelectorAll('.point-input').forEach(function(elem) {
                    elem.style.display = 'none';
                });
                // ポイント表示を再表示
                document.querySelectorAll('.milestone-points').forEach(function(elem) {
                    elem.style.display = 'inline';
                });
                editPointsBtn.style.display = 'inline-block';
                savePointsBtn.style.display = 'none';

                // 変更されたポイントをサーバーに送信
                let updates = [];
                document.querySelectorAll('.point-input').forEach(function(inputField) {
                    const milestoneId = inputField.getAttribute('data-id');
                    const newPointValue = parseFloat(inputField.value);
                    updates.push({
                        'milestone_id': milestoneId,
                        'new_points': newPointValue
                    });
                });

                // サーバーに送信
                fetch('{% url "update_milestone_points" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({'updates': updates})
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        response.json().then(data => {
                            alert('ポイントの更新に失敗しました: ' + data.message);
                        });
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('ポイントの更新中にエラーが発生しました');
                });
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html> 