{% extends 'base.html' %}
{% load static %}

{% block title %}{{ project.title }}{% endblock %}

{% block extra_head %}
    <!-- 追加のスタイルやスクリプト -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
{% endblock %}

{% block navbar_content %}
    <!-- プロジェクト詳細ページ固有のナビゲーション要素 -->
    <a class="navbar-brand" href="{% url 'project_list' %}">{{ project.title }}</a>
    <div class="account-info ml-auto">
        {% if user.is_authenticated %}
            <div class="mt-2 btn-group">
                {% if not is_participant %}
                    {% if project.owner is None %}
                        <form action="{% url 'become_owner' project.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">オーナーになる</button>
                        </form>
                    {% else %}
                        <form action="{% url 'project_join' project.id %}" method="post" style="margin: 0;">
                            {% csrf_token %}
                            <input type="submit" value="参加する" class="btn btn-secondary">
                        </form>
                    {% endif %}
                {% else %}
                    <a href="{% url 'project_participants' project.id %}" class="btn btn-secondary">参加者</a>
                {% endif %}
                <a href="{% url 'project_list' %}" class="btn btn-secondary">メインページ</a>
            </div>
        {% else %}
            <div class="mt-2 btn-group">
                <a href="{% url 'login' %}" class="btn btn-primary">ログイン</a>
                <a href="{% url 'signup' %}" class="btn btn-secondary">サインアップ</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <!-- タブメニュー -->
    <ul class="nav nav-tabs" id="projectTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="roadmap-tab" data-toggle="tab" href="#roadmap" role="tab" aria-controls="roadmap" aria-selected="false">ロードマップ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="false">ダッシュボード</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="charter-tab" data-toggle="tab" href="#charter" role="tab" aria-controls="charter" aria-selected="false">プロジェクト憲章</a>
        </li>
    </ul>

    <div class="tab-content" id="projectTabsContent">
        <!-- ロードマップタブ -->
        <div class="tab-pane fade" id="roadmap" role="tabpanel" aria-labelledby="roadmap-tab">
            <!-- ロードマップの内容 -->
            {% include 'partials/roadmap.html' %}
        </div>

        <!-- ダッシュボードタブ -->
        <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <!-- ダッシュボードの内容 -->
            {% include 'partials/dashboard.html' %}
        </div>

        <!-- プロジェクト憲章タブ -->
        <div class="tab-pane fade" id="charter" role="tabpanel" aria-labelledby="charter-tab">
            <!-- プロジェクト憲章の内容 -->
            <br>
            <p>{{ project.description|linebreaksbr }}</p>
            {% if is_participant %}
                <form action="{% url 'edit_project_description' project.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="プロジェクト憲章を編集する" class="btn btn-primary"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <!-- タブの状態を保持するスクリプト -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ project.title }}{% endblock %}

{% block extra_head %}
    <!-- 追加のスタイルやスクリプト -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
{% endblock %}

{% block navbar_content %}
    <!-- プロジェクト詳細ページ固有のナビゲーション要素 -->
    <!-- （省略、前回と同じです） -->
{% endblock %}

{% block content %}
    <!-- タブメニュー -->
    <ul class="nav nav-tabs" id="projectTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="roadmap-tab" data-toggle="tab" href="#roadmap" role="tab" aria-controls="roadmap" aria-selected="false">ロードマップ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="false">ダッシュボード</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="charter-tab" data-toggle="tab" href="#charter" role="tab" aria-controls="charter" aria-selected="false">プロジェクト憲章</a>
        </li>
    </ul>

    <div class="tab-content" id="projectTabsContent">
        <!-- ロードマップタブ -->
        <div class="tab-pane fade" id="roadmap" role="tabpanel" aria-labelledby="roadmap-tab">
            {% include 'partials/roadmap.html' %}
        </div>

        <!-- ダッシュボードタブ -->
        <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            {% include 'partials/dashboard.html' %}
        </div>

        <!-- プロジェクト憲章タブ -->
        <div class="tab-pane fade" id="charter" role="tabpanel" aria-labelledby="charter-tab">
            <br>
            <p>{{ project.description|linebreaksbr }}</p>
            {% if is_participant %}
                <form action="{% url 'edit_project_description' project.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="プロジェクト憲章を編集する" class="btn btn-primary"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <!-- タブの状態を保持するスクリプト -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // タブの状態を保持
            const tabs = document.querySelectorAll('a[data-toggle="tab"]');
            tabs.forEach(tab => {
                tab.addEventListener('shown.bs.tab', function (e) {
                    localStorage.setItem('activeTab_{{ project.id }}', e.target.getAttribute('href'));
                });
            });
            const activeTab = localStorage.getItem('activeTab_{{ project.id }}');
            if (activeTab) {
                const triggerTab = document.querySelector('a[href="' + activeTab + '"]');
                if (triggerTab) {
                    $(triggerTab).tab('show');
                }
            } else {
                // デフォルトで最初のタブを表示
                $('#projectTabs a:first').tab('show');
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const editButton = document.getElementById('edit-roadmap-btn');
            const saveButton = document.getElementById('save-roadmap-btn');

            function updateOrderAndParentId() {
                let order = [];
                document.querySelectorAll('.milestone[data-id]').forEach(function (item, index) {
                    const parentElement = item.closest('.milestone[data-id]:not([data-id="' + item.getAttribute('data-id') + '"])');
                    const parentId = parentElement ? parentElement.getAttribute('data-id') : null;
                    order.push({
                        id: item.getAttribute('data-id'),
                        order: index,
                        parent_id: parentId ? parentId : null
                    });
                });

                console.log(order);  // ログに出力

                fetch('{% url "update_milestone_order" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({order: order})
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
            }

            if (editButton && saveButton) {
                editButton.addEventListener('click', function() {
                    document.querySelectorAll('[id^="milestones-list-"]').forEach(function(list) {
                        new Sortable(list, {
                            group: 'milestones',
                            animation: 150,
                            onEnd: function (evt) {
                                // ドラッグアンドドロップ後の処理
                            }
                        });
                    });
                    editButton.style.display = 'none';
                    saveButton.style.display = 'block';
                });

                saveButton.addEventListener('click', function() {
                    updateOrderAndParentId();
                });
            }
        });    


    // プロジェクトの進捗チャート
    document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('progressChart').getContext('2d');
            const totalCompletedPoints = {{ total_completed_points }};
            const progressData = {
                datasets: [{
                    data: [totalCompletedPoints, 1 - totalCompletedPoints],
                    backgroundColor: ['#007bff', '#e9ecef']
                }],
                labels: ['Completed', 'Remaining']
            };

            const config = {
                type: 'doughnut',
                data: progressData,
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.label + ': ' + Math.round(tooltipItem.raw * 100) + '%';
                                }
                            }
                        }
                    }
                };
            };

            new Chart(ctx, config);
        });
    </script>

    <script>
        const projectId = {{ project.id }};
        const userName = "{{ request.user.username|escapejs }}";
        const chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/projects/' + projectId + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const messageList = document.getElementById('message-list');
            const messageDiv = document.createElement('div');
            messageDiv.innerHTML = '<strong>' + data.sender + ':</strong> ' + data.message;
            messageList.appendChild(messageDiv);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.getElementById('chat-message-submit').onclick = function(e) {
            const inputField = document.getElementById('chat-message-input');
            const message = inputField.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            inputField.value = '';
        };
    </script>
{% endblock %}